*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #131212;
    color: white;
    height: 150px;
    width: 100%;
    text-align: center;
    align-content: center;
}

body{
    background-color: black;
}

footer{
    background-color: #131212;
    color: white;
    height: 50px;
    text-align: center;
    align-content: center;
}

img{
    display: block;
    height: 250px;
    max-width: 400px;
    border-radius: 20px;
    margin: 10px auto;
}

hr{
    border: none;
    margin-bottom: 30px;
    height: 3px;
    background-color: red;
}

#EuBox{
    margin-top: 30px;
    justify-items: center;
    color: white;
}

#fotosMinha{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.eu{
    border-width: 5px;
    border-color: red;
    border-style: solid;
}

#CuriosidadesBox, #LugaresBox, #PaisesBox{
    text-align: center;
    color: white;
}

#containerCuriosidades, #lugares, #paises, #eu, #descricao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin: 20px;
}

.curiosidades, #lugares li, #paises li, #eu, #descricao {
    background-color: #131212;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

#voltar{
    margin-left: auto;
    position: absolute;
    font-size: 20px;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    margin-left: 40px;
}

a{
    text-decoration: none;
    color: white;
}